<a href="https://colab.research.google.com/github/Jung-ha1/machine-learning/blob/main/%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pathlib

import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

print(tf.__version__)

dataset_path = keras.utils.get_file("auto-mpg.data", "http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data")
dataset_path

column_names = ['MPG','Cylinders','Displacement','Horsepower','Weight',
                'Acceleration', 'Model Year', 'Origin']
raw_dataset = pd.read_csv(dataset_path, names=column_names,
                      na_values = "?", comment='\t',
                      sep=" ", skipinitialspace=True)

dataset = raw_dataset.copy()
dataset.tail() # 맨 끝에 있는 값 일부를 보여줌

2.5.0

      MPG  Cylinders  Displacement  ...  Acceleration  Model Year  Origin
393  27.0          4         140.0  ...          15.6          82       1
394  44.0          4          97.0  ...          24.6          82       2
395  32.0          4         135.0  ...          11.6          82       1
396  28.0          4         120.0  ...          18.6          82       1
397  31.0          4         119.0  ...          19.4          82       1

[5 rows x 8 columns]

In [ ]:
dataset.head() # 맨 앞에 있는 값 일부를 보여줌

    MPG  Cylinders  Displacement  ...  Acceleration  Model Year  Origin
0  18.0          8         307.0  ...          12.0          70       1
1  15.0          8         350.0  ...          11.5          70       1
2  18.0          8         318.0  ...          11.0          70       1
3  16.0          8         304.0  ...          12.0          70       1
4  17.0          8         302.0  ...          10.5          70       1

[5 rows x 8 columns]

In [ ]:
len(dataset) # dataset의 길이

398

In [ ]:
dataset = dataset.dropna() # 데이터에서 필요없는 값을 na 라고 하며 이것을 지우기 위해 씀
len(dataset)

392

In [ ]:
dataset.pop('Origin') # Origin = 제조사가 어디인지 뜻함

0      1
1      1
2      1
3      1
4      1
      ..
393    1
394    2
395    1
396    1
397    1
Name: Origin, Length: 392, dtype: int64

In [ ]:
dataset

      MPG  Cylinders  Displacement  ...  Weight  Acceleration  Model Year
0    18.0          8         307.0  ...  3504.0          12.0          70
1    15.0          8         350.0  ...  3693.0          11.5          70
2    18.0          8         318.0  ...  3436.0          11.0          70
3    16.0          8         304.0  ...  3433.0          12.0          70
4    17.0          8         302.0  ...  3449.0          10.5          70
..    ...        ...           ...  ...     ...           ...         ...
393  27.0          4         140.0  ...  2790.0          15.6          82
394  44.0          4          97.0  ...  2130.0          24.6          82
395  32.0          4         135.0  ...  2295.0          11.6          82
396  28.0          4         120.0  ...  2625.0          18.6          82
397  31.0          4         119.0  ...  2720.0          19.4          82

[392 rows x 7 columns]

In [ ]:
train_dataset = dataset.sample(frac = 0.8, random_state = 0)
test_dataset = dataset.drop(train_dataset.index)

'''
frac = 데이터의 80%는 train으로 사용하고
train_dataset.index = 남은 20%는 test로 사용 할 것이다.
'''

len(train_dataset), len(test_dataset)

(314, 78)

In [ ]:
# 데이터 정규화 = 데이터를 통일시키는 것
# 정규화를 하기 위해서 평균값과 표준편차가 필요하다

train_stats = train_dataset.describe() # 평균과 표준편차 구하는 함수
train_stats.pop("MPG")
train_stats = train_stats.transpose()
train_stats

              count         mean         std  ...     50%      75%     max
Cylinders     314.0     5.477707    1.699788  ...     4.0     8.00     8.0
Displacement  314.0   195.318471  104.331589  ...   151.0   265.75   455.0
Horsepower    314.0   104.869427   38.096214  ...    94.5   128.00   225.0
Weight        314.0  2990.251592  843.898596  ...  2822.5  3608.00  5140.0
Acceleration  314.0    15.559236    2.789230  ...    15.5    17.20    24.8
Model Year    314.0    75.898089    3.675642  ...    76.0    79.00    82.0

[6 rows x 8 columns]

In [ ]:
# MPG는 맞추어야 하는 값이기 떄문에 정규화 작업에서 배제한다.

#train_labels = train_dataset.pop('MPG')
#test_labels = test_dataset.pop('MPG')

def norm(x) :
  return (x - train_stats['mean']) / train_stats['std']

normed_train_data = norm(train_dataset)
normed_test_data = norm(test_dataset)

normed_train_data.head()

     Cylinders  Displacement  Horsepower    Weight  Acceleration  Model Year
146  -0.869348     -1.009459   -0.784052 -1.025303     -0.379759   -0.516397
282  -0.869348     -0.530218   -0.442811 -0.118796      0.624102    0.843910
69    1.483887      1.482595    1.447140  1.736877     -0.738281   -1.060519
378  -0.869348     -0.865687   -1.099044 -1.025303     -0.308055    1.660094
331  -0.869348     -0.942365   -0.994047 -1.001603      0.875068    1.115971